.group--edit
  .group--edit__box
    %h2 group edit
    = form_for @group, class: 'edit_group',html: { multipart: true} do |f|
      .field.imgfield
        = f.label :image
        %br/
        = f.label :image, class: "img-editform" do
          %i.far.fa-folder-open.fa-2x
        = image_tag @group.image_url, width: "160", height: "90"

        %br/
        = f.file_field :image
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :hp
        %br/
        = f.text_field :hp
      .field
        = f.label :rank
        %br/
        = f.number_field :rank,min: "1"
      .field
        = f.label :tag
        %br/
        = f.collection_select :tag_ids, Tag.all, :id, :prefecture
      .actions
        = f.submit "update", class: "group-submit"
