.main
  .destination__box
    %h2
      information list
    = link_to root_path, data: {"turbolinks" => false} do
      %i.fas.fa-snowman.fa-2x
      %span ホーム画面

    = link_to grouplist_groups_path, data: {"turbolinks" => false} do
      %i.fas.fa-snowman.fa-2x
      %span スキー場一覧

    = link_to grouprank_groups_path, data: {"turbolinks" => false} do
      %i.fas.fa-snowman.fa-2x
      %span 人気スキー場１０選

    = link_to user_path(current_user), data: {"turbolinks" => false} do
      %i.fas.fa-snowman.fa-2x
      %span マイページ

    = link_to groups_path, data: {"turbolinks" => false} do
      %i.fas.fa-snowman.fa-2x
      %span コミュニティ（追加予定）
