.group--new
  .group--new__box
    %h2 group create
    = form_for @group, class: 'new_group' do |f|
      .field
        = f.label :image
        %br/
        = f.file_field :image, class: 'hidden'
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :tag
        %br/
        = f.collection_select :tag_ids, Tag.all, :id, :prefecture
      .actions
        = f.submit "create", class: "group-submit"
