.group--new
  .group--new__box
    %h2 group create
    = form_for @group, class: 'new_group',html: { multipart: true} do |f|
      .field.imgfield
        = f.label :image
        %br/
        = f.label :image, class: "img-newform" do
          %i.far.fa-folder-open.fa-2x
        %br/
        = f.file_field :image
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :hp
        %br/
        = f.text_field :hp
      .field
        = f.label :rank
        %br/
        = f.number_field :rank,min: "1"
      .field
        = f.label :tag_id
        %br/
        = f.collection_select :tag_id, Tag.all, :id, :prefecture
      .actions
        = f.submit "create", class: "group-submit"
