.main
  .main__groups
    - @groups.each do |group|
      .skyarea
        = link_to group_messages_path(group),class: "skyarea_img" do
          = image_tag group.image_url, class: "group-image"
        .skyarea__name
          = link_to group_messages_path(group) do
            = group.name

  = form_with url: search_groups_path, method: :get,class: "search-form", local: true do |form|
    = form.text_field :keyword, placeholder: "グループを検索する", class: "search-input"
    = form.submit "search", class: "search-submit"
